<% layout('layouts/nandr') %>
    <div class="log_form mb-5">
        <form action="/edit/<%=task._id%>?_method=PATCH" method="POST" class="needs-validation" novalidate>
            <h2 class="text-center mb-3">Edit Task</h2>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= task.title %>" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="description" cols="30" rows="6"
                    required><%= task.description %></textarea>
            </div>
            <div class="mb-3">
                <label for="duedate" class="form-label">Due date</label>
                <input name="duedate" type="date" class="form-control" id="duedate" value="<%= formattedDate %>"
                    required>
            </div>
            <div class="mb-3">
                <label for="priority" class="form-label">Priority</label>
                <select name="priority" id="priority" class="form-control" required>
                    <option value="high" <%=task.priority==='high' ? 'selected' : '' %>>high</option>
                    <option value="medium" <%=task.priority==='medium' ? 'selected' : '' %>>medium</option>
                    <option value="low" <%=task.priority==='low' ? 'selected' : '' %>>low</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="comments" class="form-label">Additional comments</label>
                <textarea name="comments" class="form-control" id="comments" cols="30"
                    rows="4"><%= task.comments %></textarea>
            </div>
            <button type="submit" class="btn btn-light wide-button">EDIT</button>
        </form>
    </div>